/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* ここからCSSを書いていきましょう */

/*
 *　すべての要素に対してbox-sizingをborder-boxとする。
 *　レイアウト崩れ防止対策。
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

a {
  text-decoration: none;
}

/*
 *　レスポンシブデザインにした際、各要素を表示％指定にて各デバイス横幅に合わせて表示する。
 *　その際の親DIVコンテナの高さ指定について、理想はデバイス事に実寸ピクセル数を指定できれば良いが、
 *　複数のデバイスに対応させる為に敢えて親の高さを指定しない。
 *
 *　親に含まれる子要素を横並びに表示させる為に、全ての子要素に「float:left;」指定をすると、
 *　親のコンテナの高さが「０」となり、それ以降の画面が重なり表示が壊れる。
 *　それを避ける為に、一番最後の子要素の下に「class="clear"」のコンテナを用意し、
 *　そのクラスに【clear: left;】定義を加え、敢えて「float」属性を解除し親コンテナに高さを持たせる。
 */
.clear {
  clear: left;
}

/*
 *　画面に対する表示位置を統一させる、コンテナ定義。
 */
.container {

/*
 *　画面サイズ変更時に、横並び要素の画面外への押し出しを回避する為に、
 *　表示対象横幅指定を「％」に変更する。
  width: 1170px; */
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/*
 ***********************************************************
 *　ヘッダー部の表示設定。
 ***********************************************************
 */
header  {
  position:fixed;
  z-index: 10;
  width: 100%;
}

/*
 *　ヘッダー構成全コンポーネント配置グループ定義。
 */
.header-wrapper {
  height: 65px;
  background-color: rgba(34, 49, 52, 0.9);
}

/* ヘッダー構成内、左サイド・ロゴ配置定義 */
.header-left {
  float: left;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

/*
 * スマホ表示時、TOPメニューはプルダウンブロックメニューを表示する。
 * 通常利用時は、非表示にしておく。
 */
.menu-icon {
  /* displayをnoneに指定してください */
  display: none; 
}

/* ヘッダー構成内、右サイドメニュー配置定義 */
.header-right {
  float: right;
  text-align: center;
/*  background-color: rgba(255, 255, 255, 0.3); */
  margin-right: 5px;
}
.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
}

.main{
  width: 100%;
}

/*
 ***********************************************************
 *　メインボディ部定義。
 ***********************************************************
 */
/*
 *　メインボディ部内トップ部、表示定義。
 ***********************************************************
 */
 .top-wrapper {
  background-image: url(images/top.png);
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
/*  border: solid 1px red; */
}

/* タイトル表示定義 */
.top-wrapper h1  {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 5px;
  opacity: 0.7;
}

/* タイトル内、コメント表示定義 */
.top-wrapper p  {
  opacity: 0.7;
}

/* 各種ログイン等、ボタン定義 */
.btn-wrapper {
/*  margin-top: 40px; */
  margin: 20px 0;
  text-align: center;
/*  border: solid; */
}

.btn-wrapper p {
/*  margin: 23px 0; */
  margin: 10px 0;
}

/* 新規ログイン */
.signup {
  background-color: #239b76;
}

/* 各種SNSログイン */
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}

/* SNSアイコン表示設定 */
.fab {
  margin-right:5px;
  color: white;
}

/*
 *　メインボディ部内中央部、各種レッスン種別表示定義。
 ***********************************************************
 */
.lesson-wrapper {
/*  height: 500px; ・・・この指定が有ると、iPad/iPhone 等のデバイスにてサイズを変更した際に、
 *　　　　　　　　　　　　 固定サイズ表示にて、画面が壊れる。
 */
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  background-color: #f7f7f7;
/* for DEBUG *//*  border: solid 1px red; */
}
.lesson-wrapper h2 {
  font-weight: normal;
  opacity: 0.5;
}
.lesson {
  width: 25%;
  float: left;
/* for DEBUG *//* border: solid 1px black; */
}
.lesson-icon {
  width: 80%;
  position: relative;
  padding-top: 50px;
  padding-bottom: 15px;
  margin: 0 auto;
/* for DEBUG *//*  border: solid 1px red; */
}
.lesson-icon p {
  width: 80%;
  color: white;
  position: absolute;
  top: 140px;
  left: 23px;
}
.lesson p {
  font-size: 13px;
  width: 80%;
  margin: 0 auto;
  opacity: 0.5;
}

/*
 *　メインボディ部内、参加促進部表示定義。
 ***********************************************************
 */
.message-wrapper {
  padding: 80px 0;
  text-align: center;
/* for DEBUG *//*  border: solid 1px red; */
}
.message-wrapper h2 {
  font-weight: normal;
}
.message-wrapper h3 {
  margin-bottom: 65px;
}
.message {
  padding: 15px 40px;
  background-color: #5dca88;
  border: dashed 1px #000;
  box-shadow: 0 7px #1a7940;;
}

/*
 ***********************************************************
 *　ページフッター部定義。
 ***********************************************************
 */
/*
 *　フッタ部表示定義。
 ***********************************************************
 */
.footer-wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
/* for DEBUG *//*  border: solid 1px red; */
}
.footer-logo {
  width: 125px;
}
.footer-wrapper p {
  font-size: 12px;
  opacity: 0.5;
}
